<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="regleCommission">
            <h2><span jhiTranslate="propApp.regleCommission.detail.title">Regle Commission</span> {{regleCommission.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propApp.regleCommission.minCA">Min CA</span></dt>
                <dd>
                    <span>{{regleCommission.minCA}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.regleCommission.maxCa">Max Ca</span></dt>
                <dd>
                    <span>{{regleCommission.maxCa}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.regleCommission.typeMontant">Type Montant</span></dt>
                <dd>
                    <span jhiTranslate="{{'propApp.TypeMontant.' + regleCommission.typeMontant}}">{{regleCommission.typeMontant}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.regleCommission.montantregle">Montantregle</span></dt>
                <dd>
                    <span>{{regleCommission.montantregle}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.regleCommission.contrat">Contrat</span></dt>
                <dd>
                    <div *ngIf="regleCommission.contrat">
                        <a [routerLink]="['/contrat', regleCommission.contrat?.id, 'view']">{{regleCommission.contrat?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/regle-commission', regleCommission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
