<div>
    <h2 id="page-heading">
        <span jhiTranslate="vegaCApp.regleCommission.home.title">Regle Commissions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-regle-commission" [routerLink]="['/regle-commission/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="vegaCApp.regleCommission.home.createLabel">
            Create new Regle Commission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="regleCommissions?.length === 0">
        <span jhiTranslate="vegaCApp.regleCommission.home.notFound">No regleCommissions found</span>
    </div>
    <div class="table-responsive" *ngIf="regleCommissions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="vegaCApp.regleCommission.minCA">Min CA</span></th>
            <th><span jhiTranslate="vegaCApp.regleCommission.maxCa">Max Ca</span></th>
            <th><span jhiTranslate="vegaCApp.regleCommission.typeMontant">Type Montant</span></th>
            <th><span jhiTranslate="vegaCApp.regleCommission.typeCommission">Type Commission</span></th>
            <th><span jhiTranslate="vegaCApp.regleCommission.montantregle">Montantregle</span></th>
            <th><span jhiTranslate="vegaCApp.regleCommission.contrat">Contrat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let regleCommission of regleCommissions ;trackBy: trackId">
                <td><a [routerLink]="['/regle-commission', regleCommission.id, 'view' ]">{{regleCommission.id}}</a></td>
                <td>{{regleCommission.minCA}}</td>
                <td>{{regleCommission.maxCa}}</td>
                <td jhiTranslate="{{'vegaCApp.TypeMontant.' + regleCommission.typeMontant}}">{{regleCommission.typeMontant}}</td>
                <td jhiTranslate="{{'vegaCApp.TypeCommission.' + regleCommission.typeCommission}}">{{regleCommission.typeCommission}}</td>
                <td>{{regleCommission.montantregle}}</td>
                <td>
                    <div *ngIf="regleCommission.contrat">
                        <a [routerLink]="['../contrat', regleCommission.contrat?.id, 'view' ]" >{{regleCommission.contrat?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/regle-commission', regleCommission.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/regle-commission', regleCommission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'regle-commission', { outlets: { popup: regleCommission.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
