<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="propApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propApp.transaction.activationstatus">Activationstatus</span></dt>
                <dd>
                    <span>{{transaction.activationstatus}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.address">Address</span></dt>
                <dd>
                    <span>{{transaction.address}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.amountsubstraction">Amountsubstraction</span></dt>
                <dd>
                    <span>{{transaction.amountsubstraction}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.startdate">Startdate</span></dt>
                <dd>
                    <span>{{transaction.startdate}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.enddate">Enddate</span></dt>
                <dd>
                    <span>{{transaction.enddate}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.totalamount">Totalamount</span></dt>
                <dd>
                    <span>{{transaction.totalamount}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.totalpaid">Totalpaid</span></dt>
                <dd>
                    <span>{{transaction.totalpaid}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.advancedamount">Advancedamount</span></dt>
                <dd>
                    <span>{{transaction.advancedamount}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.transaction.convention">Convention</span></dt>
                <dd>
                    <div *ngIf="transaction.convention">
                        <a [routerLink]="['/convention', transaction.convention?.id, 'view']">{{transaction.convention?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
