<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span jhiTranslate="vegaCApp.offer.detail.title">Offer</span> {{offer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vegaCApp.offer.title">Title</span></dt>
                <dd>
                    <span>{{offer.title}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.offer.data">Data</span></dt>
                <dd>
                    <span>{{offer.data}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.offer.discount">Discount</span></dt>
                <dd>
                    <span>{{offer.discount}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.offer.maxoffer">Maxoffer</span></dt>
                <dd>
                    <span>{{offer.maxoffer}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.offer.priceoffer">Priceoffer</span></dt>
                <dd>
                    <span>{{offer.priceoffer}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.offer.transaction">Transaction</span></dt>
                <dd>
                    <div *ngIf="offer.transaction">
                        <a [routerLink]="['/transaction', offer.transaction?.id, 'view']">{{offer.transaction?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
