<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="provider">
            <h2><span jhiTranslate="propApp.provider.detail.title">Provider</span> {{provider.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propApp.provider.adress">Adress</span></dt>
                <dd>
                    <span>{{provider.adress}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.provider.email">Email</span></dt>
                <dd>
                    <span>{{provider.email}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.provider.firstname">Firstname</span></dt>
                <dd>
                    <span>{{provider.firstname}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.provider.lastname">Lastname</span></dt>
                <dd>
                    <span>{{provider.lastname}}</span>
                </dd>
                <dt><span jhiTranslate="propApp.provider.logo">Logo</span></dt>
                <dd>
                    <span>{{provider.logo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/provider', provider.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
