<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="users">
            <h2><span jhiTranslate="vegaCApp.users.detail.title">Users</span> {{users.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vegaCApp.users.accesslevel">Accesslevel</span></dt>
                <dd>
                    <span>{{users.accesslevel}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.cin">Cin</span></dt>
                <dd>
                    <span>{{users.cin}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.email">Email</span></dt>
                <dd>
                    <span>{{users.email}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.firstname">Firstname</span></dt>
                <dd>
                    <span>{{users.firstname}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.lastname">Lastname</span></dt>
                <dd>
                    <span>{{users.lastname}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.login">Login</span></dt>
                <dd>
                    <span>{{users.login}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.password">Password</span></dt>
                <dd>
                    <span>{{users.password}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.users.user">User</span></dt>
                <dd>
                    {{users.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/users', users.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
