<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-convention-heading" jhiTranslate="propApp.convention.home.createOrEditLabel">Create or edit a Convention</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.titleconvention" for="field_titleconvention">Titleconvention</label>
                    <input type="text" class="form-control" name="titleconvention" id="field_titleconvention"
                           formControlName="titleconvention"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.amountconvention" for="field_amountconvention">Amountconvention</label>
                    <input type="number" class="form-control" name="amountconvention" id="field_amountconvention"
                           formControlName="amountconvention"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.enddate" for="field_enddate">Enddate</label>
                    <div class="input-group">
                        <input id="field_enddate" type="text" class="form-control" name="enddate" ngbDatepicker  #enddateDp="ngbDatepicker" formControlName="enddate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="enddateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.startdate" for="field_startdate">Startdate</label>
                    <div class="input-group">
                        <input id="field_startdate" type="text" class="form-control" name="startdate" ngbDatepicker  #startdateDp="ngbDatepicker" formControlName="startdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startdateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.totalprice" for="field_totalprice">Totalprice</label>
                    <input type="number" class="form-control" name="totalprice" id="field_totalprice"
                           formControlName="totalprice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.amicale" for="field_amicale">Amicale</label>
                    <select class="form-control" id="field_amicale" name="amicale" formControlName="amicale">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="amicaleOption.id === editForm.get('amicale').value?.id ? editForm.get('amicale').value : amicaleOption" *ngFor="let amicaleOption of amicales; trackBy: trackAmicaleById">{{amicaleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.provider" for="field_provider">Provider</label>
                    <select class="form-control" id="field_provider" name="provider" formControlName="provider">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="providerOption.id === editForm.get('provider').value?.id ? editForm.get('provider').value : providerOption" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.users" for="field_users">Users</label>
                    <select class="form-control" id="field_users" name="users" formControlName="users">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usersOption.id === editForm.get('users').value?.id ? editForm.get('users').value : usersOption" *ngFor="let usersOption of users; trackBy: trackUsersById">{{usersOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propApp.convention.contrat" for="field_contrat">Contrat</label>
                    <select class="form-control" id="field_contrat" name="contrat" formControlName="contrat">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contratOption.id === editForm.get('contrat').value?.id ? editForm.get('contrat').value : contratOption" *ngFor="let contratOption of contrats; trackBy: trackContratById">{{contratOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
