<div>
    <h2 id="page-heading">
        <span jhiTranslate="propApp.convention.home.title">Conventions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-convention" [routerLink]="['/convention/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="propApp.convention.home.createLabel">
            Create new Convention
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="conventions?.length === 0">
        <span jhiTranslate="propApp.convention.home.notFound">No conventions found</span>
    </div>
    <div class="table-responsive" *ngIf="conventions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="propApp.convention.titleconvention">Titleconvention</span></th>
            <th><span jhiTranslate="propApp.convention.amountconvention">Amountconvention</span></th>
            <th><span jhiTranslate="propApp.convention.description">Description</span></th>
            <th><span jhiTranslate="propApp.convention.enddate">Enddate</span></th>
            <th><span jhiTranslate="propApp.convention.startdate">Startdate</span></th>
            <th><span jhiTranslate="propApp.convention.duration">Duration</span></th>
            <th><span jhiTranslate="propApp.convention.totalprice">Totalprice</span></th>
            <th><span jhiTranslate="propApp.convention.amicale">Amicale</span></th>
            <th><span jhiTranslate="propApp.convention.provider">Provider</span></th>
            <th><span jhiTranslate="propApp.convention.users">Users</span></th>
            <th><span jhiTranslate="propApp.convention.contrat">Contrat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let convention of conventions ;trackBy: trackId">
                <td><a [routerLink]="['/convention', convention.id, 'view' ]">{{convention.id}}</a></td>
                <td>{{convention.titleconvention}}</td>
                <td>{{convention.amountconvention}}</td>
                <td>{{convention.description}}</td>
                <td>{{convention.enddate | date:'mediumDate'}}</td>
                <td>{{convention.startdate | date:'mediumDate'}}</td>
                <td>{{convention.duration}}</td>
                <td>{{convention.totalprice}}</td>
                <td>
                    <div *ngIf="convention.amicale">
                        <a [routerLink]="['../amicale', convention.amicale?.id, 'view' ]" >{{convention.amicale?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="convention.provider">
                        <a [routerLink]="['../provider', convention.provider?.id, 'view' ]" >{{convention.provider?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="convention.users">
                        <a [routerLink]="['../users', convention.users?.id, 'view' ]" >{{convention.users?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="convention.contrat">
                        <a [routerLink]="['../contrat', convention.contrat?.id, 'view' ]" >{{convention.contrat?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/convention', convention.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/convention', convention.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'convention', { outlets: { popup: convention.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
