<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="convention">
            <h2><span jhiTranslate="vegaCApp.convention.detail.title">Convention</span> {{convention.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vegaCApp.convention.titleconvention">Titleconvention</span></dt>
                <dd>
                    <span>{{convention.titleconvention}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.amountconvention">Amountconvention</span></dt>
                <dd>
                    <span>{{convention.amountconvention}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.description">Description</span></dt>
                <dd>
                    <span>{{convention.description}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.enddate">Enddate</span></dt>
                <dd>
                    <span>{{convention.enddate}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.startdate">Startdate</span></dt>
                <dd>
                    <span>{{convention.startdate}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.duration">Duration</span></dt>
                <dd>
                    <span>{{convention.duration}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.totalprice">Totalprice</span></dt>
                <dd>
                    <span>{{convention.totalprice}}</span>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.amicale">Amicale</span></dt>
                <dd>
                    <div *ngIf="convention.amicale">
                        <a [routerLink]="['/amicale', convention.amicale?.id, 'view']">{{convention.amicale?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vegaCApp.convention.provider">Provider</span></dt>
                <dd>
                    <div *ngIf="convention.provider">
                        <a [routerLink]="['/provider', convention.provider?.id, 'view']">{{convention.provider?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/convention', convention.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
