<div>
    <h2 id="page-heading">
        <span jhiTranslate="propApp.contrat.home.title">Contrats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contrat" [routerLink]="['/contrat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="propApp.contrat.home.createLabel">
            Create new Contrat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contrats?.length === 0">
        <span jhiTranslate="propApp.contrat.home.notFound">No contrats found</span>
    </div>
    <div class="table-responsive" *ngIf="contrats?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="propApp.contrat.datedeb">Datedeb</span></th>
            <th><span jhiTranslate="propApp.contrat.datefin">Datefin</span></th>
            <th><span jhiTranslate="propApp.contrat.typePeriode">Type Periode</span></th>
            <th><span jhiTranslate="propApp.contrat.typeCommission">Type Commission</span></th>
            <th><span jhiTranslate="propApp.contrat.typeMontant">Type Montant</span></th>
            <th><span jhiTranslate="propApp.contrat.montantCommission">Montant Commission</span></th>
            <th><span jhiTranslate="propApp.contrat.parPalier">Par Palier</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contrat of contrats ;trackBy: trackId">
                <td><a [routerLink]="['/contrat', contrat.id, 'view' ]">{{contrat.id}}</a></td>
                <td>{{contrat.datedeb | date:'mediumDate'}}</td>
                <td>{{contrat.datefin | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'propApp.TypePeriode.' + contrat.typePeriode}}">{{contrat.typePeriode}}</td>
                <td jhiTranslate="{{'propApp.TypeCommission.' + contrat.typeCommission}}">{{contrat.typeCommission}}</td>
                <td jhiTranslate="{{'propApp.TypeMontant.' + contrat.typeMontant}}">{{contrat.typeMontant}}</td>
                <td>{{contrat.montantCommission}}</td>
                <td>{{contrat.parPalier}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contrat', contrat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contrat', contrat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'contrat', { outlets: { popup: contrat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
