<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contrat-heading" jhiTranslate="vegaCApp.contrat.home.createOrEditLabel">Create or edit a Contrat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.datedeb" for="field_datedeb">Datedeb</label>
                    <div class="input-group">
                        <input id="field_datedeb" type="text" class="form-control" name="datedeb" ngbDatepicker  #datedebDp="ngbDatepicker" formControlName="datedeb"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datedebDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.datefin" for="field_datefin">Datefin</label>
                    <div class="input-group">
                        <input id="field_datefin" type="text" class="form-control" name="datefin" ngbDatepicker  #datefinDp="ngbDatepicker" formControlName="datefin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datefinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.typePeriode" for="field_typePeriode">Type Periode</label>
                    <select class="form-control" name="typePeriode" formControlName="typePeriode" id="field_typePeriode">
                        <option value="JOURNALIERE">{{'vegaCApp.TypePeriode.JOURNALIERE' | translate}}</option>
                        <option value="HEBDOMADAIRE">{{'vegaCApp.TypePeriode.HEBDOMADAIRE' | translate}}</option>
                        <option value="MENSUELLE">{{'vegaCApp.TypePeriode.MENSUELLE' | translate}}</option>
                        <option value="TRIMESTRIELLE">{{'vegaCApp.TypePeriode.TRIMESTRIELLE' | translate}}</option>
                        <option value="SEMESTRIELLE">{{'vegaCApp.TypePeriode.SEMESTRIELLE' | translate}}</option>
                        <option value="ANNUELLE">{{'vegaCApp.TypePeriode.ANNUELLE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.typeCommission" for="field_typeCommission">Type Commission</label>
                    <select class="form-control" name="typeCommission" formControlName="typeCommission" id="field_typeCommission">
                        <option value="FORFAITAIREPARTRANSACTION">{{'vegaCApp.TypeCommission.FORFAITAIREPARTRANSACTION' | translate}}</option>
                        <option value="FORFAITAIREPARPERIODE">{{'vegaCApp.TypeCommission.FORFAITAIREPARPERIODE' | translate}}</option>
                        <option value="POURCENTAGECA">{{'vegaCApp.TypeCommission.POURCENTAGECA' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.typeMontant" for="field_typeMontant">Type Montant</label>
                    <select class="form-control" name="typeMontant" formControlName="typeMontant" id="field_typeMontant">
                        <option value="POURCENTAGE">{{'vegaCApp.TypeMontant.POURCENTAGE' | translate}}</option>
                        <option value="DT">{{'vegaCApp.TypeMontant.DT' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.montantCommission" for="field_montantCommission">Montant Commission</label>
                    <input type="number" class="form-control" name="montantCommission" id="field_montantCommission"
                           formControlName="montantCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.parPalier" for="field_parPalier">Par Palier</label>
                    <input type="checkbox" class="form-control" name="parPalier" id="field_parPalier"
                           formControlName="parPalier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vegaCApp.contrat.convention" for="field_convention">Convention</label>
                    <select class="form-control" id="field_convention" name="convention" formControlName="convention">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="conventionOption.id === editForm.get('convention').value?.id ? editForm.get('convention').value : conventionOption" *ngFor="let conventionOption of conventions; trackBy: trackConventionById">{{conventionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
